// variables

$font-principal: "Newsreader", serif;

body {
  font-family: $font-principal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-size: 15px;
}
